<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Employee Attendance</title>
    <link rel="icon" href="http://example.com/favicon.png">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div th:include="header1.html"></div>
<div style="align-content: center">
    <form th:action="@{/saveAttendance}" method="post" th:object="${userDTO}">
        <input type="hidden" th:field="*{id}">
    <table class="table" style="width: 40%">
    <tr>
        <td>First Name:</td>
        <td th:text="${userDTO.getFirstName()}"></td>

        <td>Last Name:</td>
        <td th:text="${userDTO.getLastName()}"></td>
    </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${userDTO.getEmail()}"></td>

            <td>Employe No:</td>
            <td th:text="${userDTO.getEmployeeNo()}"></td>
        </tr>
    </table>
        <div class="row" th:if="${attendanceBool}==true">
            <div class="form-group" style="margin-top: 1%">
                <button type="submit" class="btn btn-success" style="width: 12%;">Check In</button>
            </div>
        </div>
        <div class="row" th:if="${attendanceBool}==false">
            <div class="form-group" style="margin-top: 1%" th:if="${attendanceBool1}==false">
                <button type="submit" class="btn btn-success" style="width: 12%;">Check Out</button>
            </div>
            <div class="form-group" style="margin-top: 1%" th:if="${attendanceBool1}">
                <button type="submit" class="btn btn-success" disabled style="width: 12%;">Check Out</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>