<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Box Distribution</title>
    <link rel="icon" href="http://example.com/favicon.png">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: lawngreen" href="#" th:href="@{/}">List Employees</a>
            <a class="navbar-brand" style="color: lawngreen" href="#" th:href="@{/addEmployee}">Add Employee</a>
            <a class="navbar-brand" style="color: lawngreen" href="#" th:href="@{/checkAttendance}">Check All Employee Attendance</a>
            <a class="navbar-brand" style="color: lawngreen" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>

<br>
<br>

</body>
</html>